dataset/cifar-10-python.tar.gz
dataset/cifar-10-batches-py/batches.meta
dataset/cifar-10-batches-py/data_batch_1
dataset/cifar-10-batches-py/data_batch_2
dataset/cifar-10-batches-py/data_batch_3
dataset/cifar-10-batches-py/data_batch_4
dataset/cifar-10-batches-py/data_batch_5
dataset/cifar-10-batches-py/test_batch
dataset/FashionMNIST/raw/t10k-images-idx3-ubyte
dataset/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
dataset/FashionMNIST/raw/t10k-labels-idx1-ubyte
dataset/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
dataset/FashionMNIST/raw/train-images-idx3-ubyte
dataset/FashionMNIST/raw/train-images-idx3-ubyte.gz
dataset/FashionMNIST/raw/train-labels-idx1-ubyte
dataset/FashionMNIST/raw/train-labels-idx1-ubyte.gz
Flower_PyTorch_Binary_FashionMNIST/__pycache__/binary.cpython-311.pyc
Flower_PyTorch_Binary_FashionMNIST/dataset/FashionMNIST/raw/t10k-images-idx3-ubyte
Flower_PyTorch_Binary_FashionMNIST/dataset/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
Flower_PyTorch_Binary_FashionMNIST/dataset/FashionMNIST/raw/t10k-labels-idx1-ubyte
Flower_PyTorch_Binary_FashionMNIST/dataset/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
Flower_PyTorch_Binary_FashionMNIST/dataset/FashionMNIST/raw/train-images-idx3-ubyte
Flower_PyTorch_Binary_FashionMNIST/dataset/FashionMNIST/raw/train-images-idx3-ubyte.gz
Flower_PyTorch_Binary_FashionMNIST/dataset/FashionMNIST/raw/train-labels-idx1-ubyte
Flower_PyTorch_Binary_FashionMNIST/dataset/FashionMNIST/raw/train-labels-idx1-ubyte.gz
Flower_PyTorch_Binary_MNIST/__pycache__/binary.cpython-311.pyc
Flower_PyTorch_Binary_MNIST/dataset/MNIST/raw/t10k-images-idx3-ubyte
Flower_PyTorch_Binary_MNIST/dataset/MNIST/raw/t10k-images-idx3-ubyte.gz
Flower_PyTorch_Binary_MNIST/dataset/MNIST/raw/t10k-labels-idx1-ubyte
Flower_PyTorch_Binary_MNIST/dataset/MNIST/raw/t10k-labels-idx1-ubyte.gz
Flower_PyTorch_Binary_MNIST/dataset/MNIST/raw/train-images-idx3-ubyte
Flower_PyTorch_Binary_MNIST/dataset/MNIST/raw/train-images-idx3-ubyte.gz
Flower_PyTorch_Binary_MNIST/dataset/MNIST/raw/train-labels-idx1-ubyte
Flower_PyTorch_Binary_MNIST/dataset/MNIST/raw/train-labels-idx1-ubyte.gz
dataset/MNIST/raw/t10k-images-idx3-ubyte
dataset/MNIST/raw/t10k-images-idx3-ubyte.gz
dataset/MNIST/raw/t10k-labels-idx1-ubyte
dataset/MNIST/raw/train-images-idx3-ubyte
dataset/MNIST/raw/train-images-idx3-ubyte.gz
dataset/MNIST/raw/train-labels-idx1-ubyte
dataset/MNIST/raw/train-labels-idx1-ubyte.gz
dataset/MNIST/raw/t10k-labels-idx1-ubyte.gz
FashionMNISTBinary.png
